textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
	*border-color: rgba(218, 79, 73, 0.5);
	*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(218, 79, 73, 0.6);
	border-color: rgba(102, 102, 102, 0.5);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 102, 102, 0.6);
	outline: 0 none;
}

a.link-d:hover {
	color: #999;
}

a.link-d {
	color: #da4f49;
}

.navbar-inner {
	border-radius: 0;
}

.navbar .nav > li {
	line-height: 33px;
}

.navbar .nav li.dropdown>.dropdown-toggle .caret {
	margin-top: 14px;
	border-top-color: #000;
	border-bottom-color: #000;
}

.navbar .nav li.dropdown.open>.dropdown-toggle .caret, .navbar .nav li.dropdown.active>.dropdown-toggle .caret, .navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
	border-top-color: #da4f49;
	border-bottom-color: #da4f49;
}

.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle {
	color: #da4f49;
	*background-color: #da4f49;
}

.nav .dropdown-toggle:hover .caret {
	border-top-color: #da4f49 !important;
  	border-bottom-color: #da4f49 !important;
}

.navbar .nav > li a {
	color: #000;
}

.navbar .nav > li a:hover {
	color: #da4f49;
}

.navbar .nav > li {
	line-height: 33px;
	font-size: 14px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
 	background-color: #e5e5e5;
	background-image: -moz-linear-gradient(top, #e5e5e5, #e5e5e5);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e5e5), to(#e5e5e5));
  	background-image: -webkit-linear-gradient(top, #e5e5e5, #e5e5e5);
  	background-image: -o-linear-gradient(top, #e5e5e5, #e5e5e5);
  	background-image: linear-gradient(to bottom, #e5e5e5, #e5e5e5);
  	background-repeat: repeat-x;
}

.box-adm {
	width: 940px;
	margin: 0 auto;
}

.box-login {
	border: 1px solid #d4d4d4;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.form-horizontal .control-label {
	text-align: left;
	width: 120px;
	margin-left: 29px;
}

.control-label.large {
	width: 180px;
}

.form-horizontal .controls {
	margin-left: 130px;	
}

span.help-block a {
	font-size: 12px;
	line-height: 10px;
}

.a-gray {
	color: #999;	
}

.a-gray:hover {
	color: #666;
	text-decoration: underline;	
}

.box-adm legend {
	background-image: linear-gradient(to bottom,#fff,#f2f2f2);
	background-repeat: repeat-x;
	border-radius: 4px 4px 0 0;
}

body, h1, h2, h3, h4 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 300;
}

a {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 400;
}

table.table-rest {
	margin-top: 20px;
}

table.table-rest .btn-edit {
	margin-right: 5px;
}

table.table-rest td {
	line-height: 23px;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
	color: #da4f49;
}

.nav-tabs a {
	color: #666;
}

.nav-tabs a:hover {
	color: #da4f49;
}

ul.breadcrumb a {
	color: #da4f49;
}

select.select-copy {
	margin-bottom: 20px;
}

.first-el-form {
	margin-top: 20px;
	margin-bottom: 20px;
}

.control-adm {
	padding: 0 20px;
}

.select-adm {
	margin-left: 26px !important;
}

.control-adm label {
	margin-left: 8px !important;
}

.box-sing-rest {
	padding: 0;
	border: 1px solid #d4d4d4;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 20px;
}

select.first-select {
	margin-right: 10px;
}

fieldset.form-in-title {
	height: 40px;
}

fieldset.form-in-title legend {
	font-size: 14px;
	height: 40px;
}

.nav-pills li {
	margin-right: 10px;
}

.nav-pills li a {
	color: #da4f49;
}

.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus {
	background-color: #da4f49;
}

.btn-form {
	width: 66px;
	margin: 0 auto;
}

.img-profile {
	width: 140px;
	height: 160px;
	margin: 20px auto;
	position: relative;
}

.bottom-image {
	position: absolute;
	bottom: 0;
	right: 0;
}
